             .contacto{
        color: black;
        display: flex;
gap: 24px;
background-color: rgb(95, 194, 95);
    }

     .contacto div {
width: 100%;

   }

     .datos p {
font-size: 15px;

   }

     .datos ul li {
font-size: 20px;
 list-style-type: none;

   }

     .formulario p{
display: flex;

   }

        .formulario p label{
min-width: 80px;

   }

           .formulario p input ,
         .formulario p textarea{
width: 100%;
background: white;
border-radius: 10px;
border: 1px solid black;
font-size: 15px;
padding: 6px 10px;

   }

      .formulario p label{
display: flex;
align-items: flex-start;

   }

            .formulario textarea{
resize: none;
height: 150px;
   }


            .formulario p:nth-child(4){
                align-items: start;

   }

         .formulario input[type="submit"] {
            background-color: rgb(232, 179, 80);
            box-shadow: 0 0 10px black (0, 0, 0, 0.4);
            color: black;
            font-size: 16px;
            padding: 6px 20px;
            cursor: pointer;
            width: auto;
            position: relative;
            left: 80px;
            

   }



 