.perrospage {
background-color: #121212;
color: white;
}


.marcas {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos bajen a la siguiente fila */
  gap: 10px; /* Espacio entre elementos */
}

.fotomarca {
  flex: 1 1 calc(33.333% - 10px); /* 3 por fila */

  color: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}


          .fotomarca img{
       border-radius: 70%;
       max-width: 50%;
       box-shadow: 0 0 5px;
       margin-bottom: 10px;
        max-width: 100%; 
  max-height: 100%;
   }

         .fotomarca h6{
       margin: 0%;
       font-weight: normal;
       color: white;
       margin-top: 10px;
       margin-bottom: 10px;
       box-sizing: border-box;
       font-size: 15px;
   }
   
   .fotomarca h5{
color: white;
font-size: 20px;
color: rgb(232, 189, 107);
   }
   
       .fotomarca p {
      color: white;
      font-size: 20px;
      margin-top: 20px;
      color: white;
      margin: 0%;
              max-width: 100%; 
  max-height: 100%;
  box-sizing: border-box;
  font-size: 20px;
   }

          .fotomarca h2 {
      color: white;
      font-size: 20px;
      margin-bottom: 20px;
   }

