<div class="container mt-5">
  <h1 style="color:#00ff88;text-align:center;margin-top:50px;" class="text-success">Bienvenido a Novedades</h1>

  <!-- Contenido de novedades -->
  <p>Aquí se muestran todas las novedades...</p>

  <!-- Botón de cerrar sesión -->
  <a href="/admin/logout" class="btn btn-dark mt-3">Cerrar sesión</a>
</div>