body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}

.login-container {
  width: 300px;
  margin: 50px auto;
}

.login-container input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

.btn {
  background-color: lime;
  color: black;
  padding: 5px 10px;
  margin-right: 5px;
  text-decoration: none;
}

.btn-cerrar {
  background-color: red;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
}
