#container {
     border: solid black;
display: flex;
justify-content: space-between;
}
#rojo {
    background-color: red;
    color: white;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;}
#azul {
    background-color: blue;
    color: white;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;}
#verde {
    background-color: green;
    color: white;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
}
